<div class="product-card">

  {% if product_product.featured_image %}
    <div class="product-card__image">
      <a href="{{ product_product.url }}">
        <img
          class=""
          loading="lazy"
          src="{{ product_product.featured_image | image_url }}"
          alt="{{ product_product.featured_image.alt }}">
      </a>
    </div>
  {% else %}

    <div class="product-card__image">
      <a href="{{ product_product.url }}">
        {{ 'product-1' | placeholder_svg_tag: "" }}
      </a>
    </div>
  {% endif %}

  <div class="product-card__content">
    <div class="product-card__content--wrapper">
      <h2 class="">{{ product_product.title }} <br> {{ collection.title }}</h2>

      <p class="">{{ product_product.description }}</p>

      <a class="button-primary" href="{{ product_product.url }}">see product</a>
    </div>
    

  </div>

</div>

{% liquid
      render 'vite-tag' with '@/styles/sections/product-card.css'
%}