<div class="section-grid-container">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'grid-item-large' %}
      <div
        class="grid-item-large"
        style="background-color: {{ block.settings.grid-item-large--bc }};"
        {{ block.shopify_attributes }}>
        <h2>{{ block.settings.grid-item-large--title }}</h2>
        <p>{{ block.settings.grid-item-large--description }}</p>
        <a>
          <div class="button-secondary black">{{ block.settings.grid-item-large--button }}</div>
        </a>
      </div>
      {% when 'grid-item-medium' %}
      <div
        class="grid-item-medium"
        style="background-color: {{ block.settings.grid-item-medium--bc }};"
        {{ block.shopify_attributes }}>
        <h2>{{ block.settings.grid-item-medium--title }}</h2>
        <p>{{ block.settings.grid-item-medium--description }}</p>
        <a>
          <div class="button-secondary black">{{ block.settings.grid-item-medium--button }}</div>
        </a>
      </div>
      {% when 'grid-two-col' %}
      <div class="grid-two-col" {{ block.shopify_attributes }}>
        <div class="grid-two-col--left" style="background-color: {{ block.settings.grid-two-col--bc }};"></div>
        <div class="grid-two-col--right" style="background-color: {{ block.settings.grid-two-col--right--bc }};">
          <h2>{{ block.settings.grid-two-col--title }}</h2>
          <p>{{ block.settings.grid-two-col--description }}</p>
          <a>
            <div class="button-secondary black">{{ block.settings.grid-two-col--button }}</div>
          </a>
        </div>

      </div>
    {% endcase %}
  {% endfor %}

</div>

{% liquid
      render 'vite-tag' with '/src/styles/sections/section-grid.css'
%}

{% schema %}
{
  "name": "Section Grid",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "grid-item-large",
      "name": "Grid Item Large",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "grid-item-large--title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "grid-item-large--description",
          "label": "Description",
          "default": "Lorem ipsum thi is example text for this product or collaction bla bla..."
        },
        {
          "type": "text",
          "id": "grid-item-large--button",
          "label": "Button Copy",
          "default": "SEE PRODUCT"
        },
        {
          "type": "color",
          "id": "grid-item-large--bc",
          "label": "Background Color",
          "default": "#2D929C"
        }
      ]
    },
    {
      "type": "grid-item-medium",
      "name": "Grid Item Medium",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "grid-item-medium--title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "grid-item-medium--button",
          "label": "Button Copy",
          "default": "SEE PRODUCT"
        },
        {
          "type": "color",
          "id": "grid-item-medium--bc",
          "label": "Background Color",
          "default": "#fcba03"
        }
      ]
    },
    {
      "type": "grid-two-col",
      "name": "Grid Item Two Columns",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "grid-two-col--title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "grid-two-col--button",
          "label": "Button Copy",
          "default": "SEE PRODUCT"
        },
        {
          "type": "color",
          "id": "grid-two-col--bc",
          "label": "Background Color Column Left",
          "default": "#03e3fc"
        },
        {
          "type": "color",
          "id": "grid-two-col--right--bc",
          "label": "Background Color Column Right",
          "default": "#e3e3e3"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Grid Section"
    }
  ]
}
{% endschema %}