<div class="products-carousel section">
  <product-carousel>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        {% for item in section.settings.colllection_object.products %}
          <div class="swiper-slide">
            <div class="carousel-item" data-product="{{ item.first_available_variant.id }}">
              <div class="image">
                {%- if item.featured_image -%}
                  {{
                    item.featured_image
                    | image_url: width: 3840
                    | image_tag:
                      loading: 'lazy',
                      height: 200,
                      sizes: '100vw',
                      widths: '375, 550, 750'
                  }}
              {%- else -%}
                {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
              </div>
              <div class="content">
                <h6>{{ item.title }}</h3>
                <p>{{ item.description | truncatewords: 15 }}</p>
              </div>
              <add-to-cart>
                <button class="button-primary button-carousel" type="submit"><span>ADD TO CART</span><div class="lds-ring"><div></div><div></div><div></div><div></div></div></button>
              </add-to-cart>
            </div>
          </div>
        {% endfor %}
        
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </product-carousel>
</div>

{% liquid
      render 'vite-tag' with '/src/styles/sections/product-carousel.css'
      render 'vite-tag' with '/src/js/productCarousel.js'
%}

{% schema %}
{
  "name": "products-carousel",
  "tag": "section",
  "settings": [
    {
      "type": "collection",
      "id": "colllection_object",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Product Carousel"
    }
  ]
}
{% endschema %}