<div class="hero-section">
  <div class="border-top"></div>
  <div class="content-wrapper">
    <div class="col-left">
      <p class="pre-title overline">{{ section.settings.pretitle }}</p>
      <h1>{{ section.settings.title }}</h1>
      <p>{{ section.settings.description }}</p>
    </div>
    <div class="col-right">
      {% if section.settings.image %}
        {{ section.settings.image | image_url: height: 650 | image_tag }}
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}

    </div>
  </div>
</div>

{% render 'vite-tag' with '@/styles/sections/hero-section.css' %}

{% schema %}
{
  "name": "page-hero",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "pretitle",
      "label": " Pre Title",
      "default": "NEW PRODUCT"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Product name example"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Experience natural, lifelike audio and exceptional build quality made for the passionate music enthusiast."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Hero Image"
    }
  ],
  "presets": [
    {
      "name": "Hero Section"
    }
  ]
}
{% endschema %}