{% comment %} {{ 'addToCartButton.js' | asset_url | script_tag }} {% endcomment %}

<div class="template-product">

  {%- for block in section.blocks -%}
    {% case block.type %}
      {% when 'block-main-item' %}

        <div class="main-info">
          <div class="image">
            {{ product.featured_image | image_url: width: 1200 | image_tag: width: 1200 }}
            </div>
            <div class="info">
              <div>
                  <h2>{{ product.title }} <br> 
                  {% for collection in product.collections limit: 1 %}
                      {{ collection.title }}
                  {% endfor %}
                  </h2>
                  <p>{{ product.content }}</p>
              </div>
              <div class="info-right">
                <add-to-cart-button>
                  <div class="price">{{ product.price | money }}</div>
                    <div class="product-form" data-id="{{ product.first_available_variant.id }}">         
                      <div class="quanity-wrapper">
                          <div class="minus"><span>-</span></div>
                          <input class="quanity" value="1"/>
                          <div class="plus"><span>+</span></div>
                      </div>       
                      <button class="button-primary add-to-cart-button js-add-to-cart" type="submit"><span>ADD TO CART</span><div class="lds-ring"><div></div><div></div><div></div><div></div></div></button>
                    </div>
                </add-to-cart-button>
              </div>
            </div>
          </div>
        </div>

      {% when 'block-features' %}

        <h2>features</h2>
        <p>{{ product.content }}</p>

      {% when 'block-images' %}

        <div class="block-images">
         
            <div class="one">{{ product.images[1] | image_url: width: 1000 }}</div>
            <div class="two">{{ product.images[2] | image_url: width: 1000 }}</div>        
            <div class="three">{{ product.images[3] | image_url: width: 1000 }}</div>
      
        </div>

    {% endcase %}
  {% endfor %}

</div>

{% liquid
      render 'vite-tag' with '/src/styles/sections/template-product.css'
      render 'vite-tag' with '/src/js/addToCartButton.js'
%}

{% schema %}
{
  "name": "template-product",
  "tag": "section",
  "class": "section",
  "max_blocks": 5,
  "blocks": [
    {
      "type": "block-main-item",
      "name": "Block Main Item",
      "limit": 1
    },
    {
      "type": "block-features",
      "name": "Block features",
      "limit": 1
    },
    {
      "type": "block-images",
      "name": "Block Images",
      "limit": 1
    }
  ],
  "presets": [
    {
      "name": "Product Main Item"
    }
  ]
}
{% endschema %}