<cart-page>
  {% form 'cart', cart %}
    <div class="section cart" data-money-format="{{ shop.money_format }}">
      <h1>Cart</h1>
      {% if cart.item_count > 0 %}
        <div class="cart-content">
          <div class="cart__items">
            {% for item in cart.items %}
              <div class="item" data-itemid="{{ item.key }}">
                <div class="item__image">
                  <img src="{{ item.image | image_url: width: 100 }}" />
                </div>
                <div class="item__info">
                  <h2>{{ item.title }}</h2>
                  <p class="item_price">{{ item.final_line_price | money }}</p>
                </div>
                <div class="item__quanity-selector">
                  <div>
                    <button type="button" class="minus quanity">-</button>
                    <input
                      type="text"
                      id="updates_{{ forloop.index }}"
                      value="{{ item.quantity }}"
                      class="item_count_input">
                    <button type="button" class="plus quanity">+</button>
                  </div>
                  <div>
                    <button type="button" class="remove button-primary">
                      <span>REMOVE</span>
                      <div class="lds-ring">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="summary">
            <p class="total_price">
              {{ cart.total_price | money }}
            </p>
            <div class="buy-button">
              <button
                class="button-primary"
                type="submit"
                name="checkout">CHECKOUT</button>
            </div>
          </div>

        </div>
      {% else %}
        <div class="cart__empty">
          <h3>Your Cart is empty</h3>
        </div>
      {% endif %}


    </div>
  {% endform %}
</cart-page>

{% liquid
      render 'vite-tag' with '@/styles/sections/cart.css'
      render 'vite-tag' with '@/js/cart.js'
%}